/new.json
/resnet18_new.onnx
/template.py
/testonnxrt.pkl
/testonnxrt_data_loader.json
/testonnxrt_data_loader.pkl
/testonnxrt_data_loader_output.pkl
/testtrt.pkl
/testtrt_data_loader.pkl
/testtrt_data_loader_bs40.pkl
/testtrt_data_loader_fp16.pkl
